[Desktop Entry]
Version=1.0
Type=Application
Name=System Stats Toggle
Comment=Toggles eww system stats
Exec=alacritty
Icon=/home/rstasta/.local/share/icons/activity.png
Path=
Terminal=false
StartupNotify=false
